<div class="center">
  <mat-form-field>
    <mat-select placeholder="Select your language" 
                [(ngModel)]="currentLanguage" [disabled]="recognizing">
      <mat-option *ngFor="let language of languages" [value]="language" (click)="onSelectLanguage(language)">
        {{language}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="center">
  <button mat-fab (click)="startButton($event)">
    <mat-icon *ngIf="!recognizing">mic</mat-icon>
    <mat-icon *ngIf="recognizing">stop</mat-icon>
  </button>
</div>

<form>
  <mat-form-field class="speech-result-width">
    <textarea matInput [value]="finalTranscript" placeholder="Speech Input Result" rows="15" disabled="true"></textarea>
  </mat-form-field>
</form>

<mat-card *ngIf="notification" class="notification">{{notification}}</mat-card>
