<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Web Speech Angular</span>
</mat-toolbar>

<div class="center">
  <button mat-button id="start_button" (click)="startButton($event)">
    <img *ngIf="!recognizing" src="assets/mic.gif">
    <img *ngIf="recognizing" src="assets/mic-animate.gif">
  </button>
</div>

<form class="home-form">
  <mat-form-field class="full-width">
    <textarea matInput [value]="finalTranscript" placeholder="Speech Input Result"></textarea>
  </mat-form-field>
</form>
